header {
    background-color: #c6f1e7;
  }
  
  body{
    background-color: #f0fff3;
  }
  
  
  main {
    clear: left;
  }
  
  .menu {
    background-color: #11cbd7;
  }
  .navbar {
      background-color: #11cbd7;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #11cbd7;
  }

  nav li {
    border-right: 1px solid black;
  }
  
  li {
    list-style-type: none;
    float: none;
    
  }
  
  footer {
    text-align: center;
    background-color: #fa4659;
    padding: 15px;
  }
  
  .active {
    background-color: #fa4659;
  }

  #galleryContainer {
    display: grid;
  }

  form div {
    margin-top: 5px;
  }
  
  /*--------Form Styling---------*/
  form {
    padding: 3em;
  }

  .storm {
    display: block;
  }

  .submit {
    display: block;
  }



  @media screen and (max-width: 500px) {
    .forecast {
      display: none;
    }
  
    .menu {
      display: inline;
    }

    .collapse {
        display: none;
    }   
    
    #hamburger {
      display: block;
    }

    #galleryContainer {
      grid-template-columns: 1fr;
    }

  }