table {
    box-shadow: 2px 5px 5px #628ca6;
}

table, tr, th, td {
    border: .5px solid grey;
}
body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

th, #highlight {
    background-color: #628ca6;
    color: white;
}

thead td {
    background-color: #7fb9c2;
    padding: 5px;
    font-size: bigger;
}

tfoot td {
    background-color: #7fb9c2;
    font-size: .5em;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}
tr:nth-child(odd) {
    background-color: #e7ffed;
}

