h1 {
  font-family: 'Playfair Display', serif;
}

header {
    background-color:#E1DCD9 ;
    text-align: center;
  }

body {
    background-color: #E1DCD9;
    margin: 10px 10px 10px 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
  background-color: #a67f78;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.navbar a:hover{
    color: #e1dcd9;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #a67f78;
    
  }

  nav li {
    border-right: 1px solid #32435f;
    border-bottom: 1px solid #32435f;
    list-style-type: none;
  }
  
  li {
    float: none;
  }

  .button {
    background-color: #669999;
    border: 1px solid #32435f;
    color: #e1e1e1;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    margin: 10px;
  }

  .button:hover {background-color: #669999}

  .button:active {
    background-color: #669999;
    box-shadow: 0 5px #32435f;
    transform: translateY(4px);
  }

  img {
    display: block;
    
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #669999;
  color: white;
  padding: 15px 23px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contactForm {
  border-radius: 5px;
  padding: 30px;
}

  @media screen and (max-width: 500px) {
  
    .menu {
      display: inline;
    }

    .collapse {
        display: none;
    }   
    
    #hamburger {
      display: block;
    }

  }