header {
    background-color: ;
    text-align: center;
  }

body {
    background-color: #E1DCD9;
    margin: 10px 10px 10px 10px;
}

.navbar a:hover{
    color: #e1dcd9;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #a67f78;
    
  }

  nav li {
    border-right: 1px solid #32435f;
    border-bottom: 1px solid #32435f;
  }
  
  li {
    list-style-type: none;
    float: none;
  }

  .button {
    background-color: #669999;
    border: 1px solid #32435f;
    color: #e1e1e1;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
  }

  .button:hover {background-color: #669999}

  .button:active {
    background-color: #669999;
    box-shadow: 0 5px #32435f;
    transform: translateY(4px);
  }