/* html selectors */
header {
  background-color: #11cbd7;
}

body {
    background-color:#f0fff3;
  }

 nav {
   background-color: #c6f1e7;
   list-style-type: none;
 } 

 footer {
   background-color: #fa4659;
 }

 ul {
  list-style-type: none;
 }


/*class selectors */
.motto {
  font-display: italic;  
}

/* id selectors */