/* html selectors */
header {
  background-color: #11cbd7;
  padding: 100px;
}

body {
    background-color:#f0fff3;
  }

nav {
  background-color: #c6f1e7;
}
 footer {
   background-color: #fa4659;
 }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
 }

 li {
   display: inline;
   text-align: center;
 }


/*class selectors */
.motto {
  font-display: italic;  
}

/* id selectors */