.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #c6f1e7;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

li {
    display: inline;
}

